@{
    ViewBag.Title = "Заказ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="oneFromTwo first">
		<div class="container">
		    <h2 id="newsletter">
		        @if (ViewBag.Id == 1)
		        {
                    <text>1 упаковка узбагоина</text>
		        }
                
                @if (ViewBag.Id == 2)
		        {
                    <text>5 упаковок узбагоина</text>
		        }
                
                @if (ViewBag.Id == 3)
		        {
                    <text>10 упаковок узбагоина</text>
		        }
		    </h2>
			<div class="content">
                <form id="subscriptionForm" action="@Url.Action("OrderFinish")" method="POST" novalidate="novalidate">
					Введите данные (email, телефон, ФИО) такие же как при оплате через Glopart
                    <div class="clear">
                        <div class="inputContainer">
                            <div class="fullWidth1">
                                <i class="icon-user"></i>
                                <input type="text" name="firstName" id="firstName" onfocus="if(this.value == 'ФИО') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'ФИО'; }" value="ФИО">
                            </div>
                        </div>
                        <div class="inputContainer">
                            <div class="fullWidth2" style="margin: 0 10px 0 0px;">
                                <i class="icon-envelope" style="left: 10px;"></i>
								<input type="text" name="subscriberEmail" class="required email" id="subscriberEmail" onfocus="if(this.value == 'Email') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Email'; }" value="Email">
                            </div>
                        </div>
                        <div class="inputContainer">
                            <div class="fullWidth1">
                                <i class="icon-user"></i>
                                <input type="text" name="phone" id="phone" onfocus="if(this.value == 'Телефон') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Телефон'; }" value="Телефон">
                            </div>
                        </div>
                        <div class="inputContainer">
                            <div class="fullWidth1">
                                <i class="icon-user"></i>
                                <textarea name="address" id="address" style="resize: none;" onfocus="if(this.value == 'Адрес') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Адрес'; }">Адрес</textarea>
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" value="@ViewBag.Id" />
                    </div>
                    <button id="subscribe" name="subscribe" class="button" type="submit">Оплатить <i class="icon-caret-right buttonArrow"></i></button>
				</form>
                <div id="subscriptionResponse" style="display:none;"></div>
            </div>
		</div>
	</div>
	<div class="oneFromTwo last">
		<div class="container">
			<h2>Некоторая информация о доставке или самовывозе</h2>
			<div class="content">
                Quisque in magna nisl. In hac habitasse platea dictumst. Sed vitae arcu id magna pretium eleifend. 
                Aenean congue turpis eget leo rhoncus vel vehicula nisl malesuada mollis est.
            </div>
		</div>
	</div>
</div>

<script type="text/javascript">
    
</script>