@{
    ViewBag.Title = "Успешная оплата";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bottomBorder" style="margin-bottom: 50px;">
    <div class="fullRow buyNowBlockContainer first">
        <div class="buyNowBlock">
            <h1>Оплата была успешно завершена. Ваш товар поступил в обработку. Умоляем, только будьте збогойны.</h1>
        </div>
    </div>
</div>
